.footer-bottom {
  background-color: #2f4f4f;
  color: #fff;
  text-align: center;
  padding: 10px 10px 0px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}