<div class="about-container">
  <div class="pl-4">
    <h1 [@fadeIn]>Hi ! Hello! This is Divya. Thank you choosing my app</h1>
    <h5 [@fadeIn]>I am delighted to have you here, I started my professional journey <br>in the field of Information
      Technology
      <br>
      Over the years,I have had the privilege to work with <br> some amazing teams and organizations,<br> which has
      helped me grow both personally and professionally.
      <br>I am always open to new opportunities and connections.
      <br>
      Whether you're interested in collaborating, networking,<br> or just having a conversation, feel free to reach out.
      <br><br>You can contact me at <br>
      divyas@gmail.com
    </h5>
  </div>
</div>